/* @import url('https://fonts.googleapis.com/css?family=Roboto+Condensed'); */ 

@font-face {
	font-family: 'Roboto Condensed';
	src:url('fonts/robotocondensed.ttf');
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Trebuchet', sans-serif;
}

body {
	background: pink url(img/fondo.jpg) fixed;
	background-size: cover;
}

.contenedor {
	display:flex;
	justify-content: space-between;
	align-content: space-between;
	flex-wrap: wrap;
	padding: 20px;
	max-width: 1024px
}

/****HEADER****/

header {
	display:flex;
	justify-content: space-between;
	flex-wrap: wrap;
	width: 100%;
	height: 150px;
	background: #3d2609;
	margin-bottom:20px;
	padding:20px;
	border-radius: 25px;
}

header .logo {
	display: flex;
	flex-direction: column;
	justify-content: center;
	color: white;
	margin-left: 20px;

}

header img {

}

.logo h2 {
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 28px;
	text-align: center;
}

header .menu {
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 430px;
}

header .menu a {
	padding: 15px;
	background: #3d2609;
	color: white;
	border: 3px solid pink;
	border-radius: 20px;
	text-decoration: none;
	text-align: center;
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 20px;
}

header .menu a:hover {
	background: pink;
	color: #3d2609;
}

header .menu a:active {
	background: pink;
	color: #3d2609;
}


/****SECTION****/

.main {
	width: 60%;
	border-radius: 25px;
}

.main article {
	display:flex;
	flex-direction:column;
	justify-content: space-around;
	align-items: center;
	background: #3d2609;
	width:100%;
	height: 500px;
	padding: 20px;
	color: white;
	border-radius: 25px;
}

.thumb {
	width: 100%;
	text-align: center;
}

.thumb img {
	width:100%;
}

.thumb h2 {
	text-align: center;
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 26px;

}

.main article p {
	text-align: justify;
}


/****ASIDE****/

aside {
	display:flex;
	flex-direction:column;
	justify-content: space-around;
	width: 35%;
	height: 500px;
	background: #3d2609;
	padding: 20px;
	border-radius: 25px;
}

aside .ad {
	padding: 70px 0;
	color: #3d2609;
	background: pink;
	text-align: center;
	font-size: 24px;
	font-weight: bold;
	font-family: 'Roboto Condensed', sans-serif;
}

/****FOOTER****/

footer {
	padding: 30px;
	background: #3d2609;
	height: 100px;
	width: 100%;
	margin-top: 20px;
	display: flex;
	justify-content:space-between;
	align-items: center;
	flex-wrap: nowrap;
	color: white;
	border-radius: 25px;
}

footer .autor {
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 20px;
}

footer .redes-sociales {
	width: 180px;
	display: flex;
	justify-content: space-between;
}

footer .redes-sociales img:hover {
	opacity: 0.4;
}


/****MEDIA QUERIES****/

@media screen and (max-width: 800px) {

	.contenedor {
	display:flex;
	flex-flow:column;
	align-items:center;
	flex-wrap: nowrap;
	padding: 16px;
	max-width: 800px
	}

	.main {
		width: 100%;
	}

	aside {
		width: 100%;
		margin-top: 20px;
	}



	header {
	display:flex;
	justify-content: space-between;
	flex-wrap: wrap;
	width: 100%;
	height: 150px;
	margin-bottom:20px;
	padding:20px;
}

header .logo {
	margin-left: 20px;

}

.logo h2 {
	font-size: 22px;
}

header .menu {
	width: 400px;
}

header .menu a {
	padding: 10px;
	border: 2px solid pink;
	border-radius: 20px;
	font-size: 18px;
}



}
