

body {
	background: #8f7779;
}

h1 {
	font-family:arial,verdana,sans-serif;
	font-weight: bold;
	text-align: center;
	color:#ffff99;
	
}

.modulo1 {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin-bottom: 30px;
}

.perro {
	text-align: center;
	background:#7fc6a4;
	width: 240px;
	height: 350px;
	margin: 15 15 15 15;
	
}

.perro h2 {
	font-family: arial,verdana,sans-serif;
	color:#8f7779;
}

.perro img {
	height: 200px;
	width: 200px;
	margin: 0 20 0 20;
	display: inline-block;
}

.perro p {
	margin: 5 20 5 20;
	display: inline-block;
}

.perro-par {
	background:#ffff99;

}


footer {
	background: #ffff99;
	color: #8f7779;
	height:100px;
}

#contenedor {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin-bottom: 30px;
}

#menu {
	float:left;
	width: 150px;
	text-align: center;
	padding-right: 25px;
	margin: 0 auto;
}

#menu ul {
	list-style-type: none;
	display: inline-block;
}

#menu li {
	background: #ffff99;
	border-radius: 20%;
	margin:0 0 40 0;
	padding: 15 10 15 10;
	display: block;
}

#menu a {
	font-family: arial, sans-serif;
	text-decoration: none;
	color: #8f7779;
	font-weight: bold;
}