nav {
	display: flex;
	align-items: center;
	background: magenta;
	height:500px;
	width:250px;
	float: left;
}

nav a {
	width: 100%;
	height: 100%;
}

.container {
	background: grey;
	height: 300px;
	display: flex;
	align-items: center;
	padding:20px;
}

.image {
	float: left;
	width: 200px;
	height: 200px;
}

.texto {
	margin-left:20px;
	width: 200px;
}