.container {
	background: grey;
	height: 300px;
	display: flex;
}

.image {
	float: left;
	width: 200px;
	height: 200px;
	margin-top: auto;
	margin-bottom: auto;
}

.pepe {
	margin: 20 20 20 20;
	width: 200px;
	margin-top: auto;
	margin-bottom: auto;
}

.yes {
	height: 150px;
	width: 300px;
	border: 2px red solid;
}