.container {
	background: grey;
	height: 300px;
	display: flex;
	align-items: center;
	padding:20px;
}

.image {
	float: left;
	width: 200px;
	height: 200px;
}

.texto {
	margin-left:20px;
	width: 200px;
}