body {
	background:red;
	padding-bottom: 40px;
}

.rompebolas {
	width:40%;
	height:50px;
	background: cyan;
	margin: auto;
	border: black 1px solid;
	position:fixed;
	bottom:0px;
}

.pep {
	padding:20px 0;
	margin:inherit;
	max-width: 100px;
}


.paddy {
	border: 1px black solid;
	margin: 0;
	padding: 0;
	
}


.paddy2 {
	margin: 0 auto;
	font-size: 20px;
	padding: 30px;
	border: 1px red solid;
}