* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.fecha {
	background: #193284;
}

.fecha p {
	color: white;
	margin: 10px 0;
}

.encabezado {
	background: url('images/fondo.jpg') no-repeat;
	background-size: cover;
	height: 250px;
}

nav {
	padding:10px 0;
}

.logoflisol {
	margin: 37px auto;
}

.carousel-box{
	padding: 0 1px;
}

.carouselcaption {
	font-size: 1.5em;
}

.overflowraro img {
	width: 100%;
}

#slider-principal {
	padding: 10px 0;
}

#imagenes {
	padding: 0px 0;
}

.row-imgs {
	padding: 10px 0;
}

.h3-pad {
	padding: 0 10px;
}

.thumbnail {
	margin-bottom: 0px;
}

.user {
	padding: 5px 5px 10px 0;
	font-size: 1.2em;
}

.user img {
	padding-right: 10px;
}

.avatar {
	display: inline-block;
	vertical-align: center;
}

#comentarios {
	padding: 0px 5px;
}

.comentario {
	background: lightgrey;
}

.boldtext {
	font-weight: bold;
}

.pipo {
	padding: 0 10px;
}

.comment-post p {
	padding: 5px;
}

.panel-profile {
	font-size: 16px;
	font-family: 'Roboto',sans-serif;
	font-weight: 300;
	line-height: 1.6;
}

.panel-profile .panel-heading {
	height: 150px;
	background-size: cover;
}

.panel-profile-img {
    max-width: 100px;
    margin-top: -70px;
    margin-bottom: 5px;
    border: 3px solid #fff;
    border-radius: 100%;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}

.panel-title {
	margin-bottom: 5px;
	font-weight: 400;
	margin: 6px 0;
	line-height: 1.4;
}
 
.m-b {
	margin-bottom: 15px !important;
}

.btn-sm {
	font-size: 12px;
	padding: 5px 15px;
}

footer {
	margin-top: 10px;
	height:40px;
	background: #193284;
	padding: 10px 0;
}

footer p {
	color: white;
}

@media screen and (max-width: 400px) {

	h3 {
		padding-left: 5px;
	}

	.overflowraro {
		padding: 5px;
	}

	.comentario {
		padding: 5px;
	}
}