* {
	margin: 0;
	padding: 0;
}

/* https://kmturley.blogspot.com.ar/2014/06/responsive-mobile-dropdown-navigation.html */

body {
	background: white;
	width: 100%;
}

nav {
	height: 100px;
	width: 100%;
	background: orange;
}


@media screen and (max-width: 600px) {

nav {
	display:none;
}

.menu-mobile {
  background-color: white;
  box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
  position: fixed;
  width: 100%;
  z-index: 3;
}

.menu-mobile ul {
  list-style: none;
  overflow: hidden;
  background-color: #fff;
	}

.menu-mobile li a{
	display:block;
	padding: 20px;
	text-decoration: none;
	border-right: 1px solid #f4f4f4;
}


.menu-mobile li a:hover {
  background-color: #f4f4f4;
}

.menu-mobile .menu {
	clear: both:
	max-height: 0px;
	transition: max-height .2s ease-out;
}

.menu-mobile .menu-icon {
  cursor: pointer;
  display: inline-block;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.menu-mobile .icon {
  display: block;
  transition: background .2s ease-out;
}

.menu-mobile #check {
	display: none;
}

.menu-mobile #check:checked ~ menu {
	max-height: 240px;
}


}

#barra {
	display: block;
	position: fixed;
	top:10px;
	left:10px;
	z-index: 2;
	cursor: pointer;

}

#check {
	display: block;
	position: fixed;
	top:10px;
	left:10px;
	z-index: 3;

}

}



@media screen and (min-width: 600px){

.menu-mobile {
	display: none;
}

#barra {
	position:fixed;
	top: 0;
	left: 0;
	display: none;
	z-index:5;
}

}